{% extends "base.html" %} {% block content %}

<script>

    var mnist_info = JSON.parse('{{ mnist_info | default("") | tojson | safe}}');
    var show_modal = JSON.parse('{{ show_modal | default("") | tojson | safe }}');
    var username = JSON.parse('{{ username | default("") | tojson | safe }}');
    var additional_info = JSON.parse('{{ additional_info | default("") | tojson | safe }}');
    var accuracy = 0.0;
    if (username!=""){username=username.username;}

    
    $(document).ready(function () {
        if (additional_info!=""){
            var accuracy = additional_info.accuracy;
            $(".put-result").text("Score: " + accuracy.toString())
        }
        db_info(mnist_info, $(".table-mnist"), username);
        if(show_modal!="" && !jQuery.isEmptyObject(show_modal)){manage_modals(show_modal);}
        if(username!=""){
            $(".submit-btn").show();
        }
    });

</script>

<div class="row first-row">
    <div class="col-sm-12">
        <div class="page-info">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownDB" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    MNIST
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownDB">
                <a class="dropdown-item" href="/">DASHBOARD</a>
                <a class="dropdown-item" href="cifar10">CIFAR-10</a>
                </div>
            </div>
            <div class="leader-title">
                <h2>Public Leaderboard - Computer Vision Competition</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8 leader-info">
                <p>
                    MNIST ("Modified National Institute of Standards and Technology") is the de facto “hello world” dataset of computer vision. 
                    Since its release in 1999, this classic dataset of handwritten images has served as the basis for benchmarking classification algorithms.
                    In this competition, your goal is to correctly identify digits from a dataset of tens of thousands of handwritten images.
                </p>
            </div>
            <div class="col-sm-4 leader-info">
                <button type="button" class="btn btn-success submit-btn" id="submit-btn-mnist" style="display: none">SUBMIT</button>
            </div>
        </div>
    </div>
</div>

<div class="row mnist-row leader-table">
    <div class="col-sm-12">
        <h3>MNIST Scores</h3>
        <table class="table table-mnist">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Team Name</th>
                <th scope="col">Score</th>
                <th scope="col">Entries</th>
                <th scope="col">Last Submission <span class="best_text">(Best)</span></th>
            </tr>
            </thead>
            <tbody>
            <!-- LOS RESULTADOS DEBEN SER CARGADOS EN PYTHON Y PROPAGADOS HASTA AQUI CON JAVASCRIPT-->
            <!-- Recordar <tr class="my_submission"> -->
            </tbody>
        </table>
    </div>
</div>

<div class="row submission-guide">
    <div class="col-sm-12">
        <h2>Submission Guide</h2>
        First download the features from <a href="https://drive.google.com/file/d/1AMFV6ezok60FZCo2MNL69pGMsr2slJjP/view?usp=sharing" target="_blank" class="download-link">here</a>.
        Then follow the instructions below to load the data and make a simple prediction with a pretrained Pytorch model.

        <pre><code class="language-python"># First load/train your Pytorch model
import pandas as pd
import numpy as np
# Data loading
csv_test_features = pd.read_csv("mnist_test_features.csv")
test_features = csv_test_features.values # features shape (10000, 784)
test_features = test_features / 255 # Normalize range [0, 255] -> [0, 1]
# Empty variable for predictions
all_preds = np.array(())
# Split data in batches -> n is number of batches -> 10000 int 100 batches = batch_size 100
data_batches = np.split(test_feat, 100, axis=0)
for indx, features in enumerate(data_batches):
    with torch.no_grad(): # Make all the operations in the block have no gradients - Test Time!
        features = torch.from_numpy(features).float().to(device) # Data to Pytorch tensor
        outputs = net(features) # Model inference
        _, pred = outputs.max(1)  # get the index of the max log-probability
        all_preds = np.append(all_preds, pred.data.cpu().numpy()) # Accumulate predictions
# Finally save the predictions -> shape (10000,)
np.save("my_predictions.npy", all_preds)</code></pre>

        Finally, upload your <i>my_predictions.npy</i> generated.

    </div>
</div>

{% endblock %}